SQL can execute queries against a database
SQL can retrieve data from a database
SQL can insert records in a database
SQL can update records in a database
SQL can delete records from a database
SQL can create new databases
SQL can create new tables in a database
SQL can create stored procedures in a database
SQL can create views in a database
SQL can set permissions on tables, procedures, and views

SELECT * FROM Customers;
SELECT CustomerName, City FROM Customers;
SELECT DISTINCT Country FROM Customers;

In [5]:
nummer = 1
kommar = 1.4
test = "test"



dic = {"nummer": nummer, "kommar": kommar , "test": test}

print(type(test), "\n", type(kommar), "\n", type(nummer), "\n", type(dic))

<class 'str'>
 <class 'float'>
 <class 'int'>
 <class 'dict'>

In [ ]:
import random
imp
''' 
zufallszahlen

Dic
Element 1 = UUID 
articel = Text
price 2,99 - 5000
Werung
menge 
Stückzahl zufällig 1 - 50


Produktkatalog 5 Artikel 
Zufällig eine Position ausfählen
20x 
#

id , articlenumber, quantity, price, currency
 
'''

In [6]:
import pandas as pd

# File path
file_path = r"C:\App\Python\aufgaben_verwaltung\Produktkatalog.xlsx"

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path)

# Convert the DataFrame to a list of dictionaries
list_of_dicts = df.to_dict(orient='records')

# Print the list of dictionaries
print(list_of_dicts)

[{'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'price': 3.99, 'currency': 'EUR'}, {'articlenumber': 1245, 'articlename': 'Glas', 'price': 10.99, 'currency': 'EUR'}, {'articlenumber': 4564, 'articlename': 'Brötchen', 'price': 0.6, 'currency': 'EUR'}, {'articlenumber': 6241, 'articlename': 'Tastatur', 'price': 210.5, 'currency': 'EUR'}, {'articlenumber': 5423, 'articlename': 'Maus', 'price': 90.8, 'currency': 'EUR'}]

dublette erzeugen und mit try und catch abfrangen und dann ausgeben
Erstelle ERD diagramm

In [3]:
import sqlite3
import uuid
import random
from datetime import datetime, timedelta

# Product catalog
product_catalogue = [
    {'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'price': 3.99, 'currency': 'EUR'},
    {'articlenumber': 1245, 'articlename': 'Glas', 'price': 10.99, 'currency': 'EUR'},
    {'articlenumber': 4564, 'articlename': 'Brötchen', 'price': 0.6, 'currency': 'EUR'},
    {'articlenumber': 6241, 'articlename': 'Tastatur', 'price': 210.5, 'currency': 'EUR'},
    {'articlenumber': 5423, 'articlename': 'Maus', 'price': 90.8, 'currency': 'EUR'},
    {'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'price': 2389.00, 'currency': 'EUR'}
]

# Customer data
customers = [
    {"customer_id": str(uuid.uuid4()), "first_name": "Max", "last_name": "Mustermann", "email": "max.mustermann@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Erika", "last_name": "Musterfrau", "email": "erika.musterfrau@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "John", "last_name": "Doe", "email": "john.doe@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Jane", "last_name": "Doe", "email": "jane.doe@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Hans", "last_name": "Meier", "email": "hans.meier@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Anna", "last_name": "Schmidt", "email": "anna.schmidt@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Peter", "last_name": "Müller", "email": "peter.mueller@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Laura", "last_name": "Schneider", "email": "laura.schneider@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Michael", "last_name": "Fischer", "email": "michael.fischer@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Claudia", "last_name": "Weber", "email": "claudia.weber@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Stefan", "last_name": "Wagner", "email": "stefan.wagner@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Marie", "last_name": "Becker", "email": "marie.becker@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Sebastian", "last_name": "Hoffmann", "email": "sebastian.hoffmann@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Katrin", "last_name": "Schulz", "email": "katrin.schulz@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Alexander", "last_name": "Koch", "email": "alexander.koch@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Nina", "last_name": "Bauer", "email": "nina.bauer@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Oliver", "last_name": "Richter", "email": "oliver.richter@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Simone", "last_name": "Klein", "email": "simone.klein@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Lukas", "last_name": "Wolf", "email": "lukas.wolf@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Julia", "last_name": "Neumann", "email": "julia.neumann@example.com"}
]

# Shop data
shops = [
    {"shopnumber": i, "name": f"Shop {i}", "location": random.choice([
        "Berlin, Germany", "Munich, Germany", "Frankfurt, Germany", "Vienna, Austria", "Salzburg, Austria",
        "Graz, Austria", "Zurich, Switzerland", "Geneva, Switzerland", "Bern, Switzerland"
    ])} for i in range(1, 31)
]

# Database connection
conn = sqlite3.connect('orders.db')
cursor = conn.cursor()

# Create tables
cursor.execute('''
CREATE TABLE IF NOT EXISTS product (
    articlenumber INTEGER PRIMARY KEY,
    articlename TEXT NOT NULL,
    price REAL NOT NULL CHECK (price == ROUND(price, 2)),
    currency TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS customer (
    customer_id TEXT PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT NOT NULL,
    birthdate TEXT NOT NULL,  -- New column for birthdate
    UNIQUE (first_name, last_name, email)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS order_header (
    order_id TEXT PRIMARY KEY,
    customer_id TEXT NOT NULL,
    manufacturer TEXT NOT NULL,
    manufactur_place TEXT NOT NULL,
    shopnumber INTEGER NOT NULL,
    date TEXT NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customer (customer_id),
    FOREIGN KEY (shopnumber) REFERENCES shop (shopnumber)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS order_item (
    id TEXT PRIMARY KEY,
    order_id TEXT NOT NULL,
    articlenumber INTEGER NOT NULL,
    articlename TEXT NOT NULL,
    quantity INTEGER NOT NULL,
    price REAL NOT NULL CHECK (price == ROUND(price, 2)),
    currency TEXT NOT NULL,
    order_date TEXT NOT NULL,
    FOREIGN KEY (order_id) REFERENCES order_header (order_id),
    FOREIGN KEY (articlenumber) REFERENCES product (articlenumber)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS shop (
    shopnumber INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    location TEXT NOT NULL
)
''')

# Insert shops into shop table
for shop in shops:
    cursor.execute('''
    INSERT INTO shop (shopnumber, name, location)
    VALUES (?, ?, ?)
    ''', (shop['shopnumber'], shop['name'], shop['location']))

# Insert customers into customer table with birthdates
def generate_random_birthdate(start_year=1970, end_year=2000):
    start_date = datetime(start_year, 1, 1)
    end_date = datetime(end_year, 12, 31)
    return start_date + timedelta(days=random.randint(0, (end_date - start_date).days))

for customer in customers:
    birthdate = generate_random_birthdate().strftime('%Y-%m-%d')
    cursor.execute('''
    INSERT INTO customer (customer_id, first_name, last_name, email, birthdate)
    VALUES (?, ?, ?, ?, ?)
    ''', (customer['customer_id'], customer['first_name'], customer['last_name'], customer['email'], birthdate))

# Insert products into product table
for product in product_catalogue:
    cursor.execute('''
    INSERT OR IGNORE INTO product (articlenumber, articlename, price, currency)
    VALUES (?, ?, ROUND(?, 2), ?)
    ''', (product['articlenumber'], product['articlename'], product['price'], product['currency']))

# Generate orders and order items with random dates within each month from January to 12th August 2024
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 8, 12)

def get_random_date_within_month(year, month):
    # Get the first and last day of the month
    first_day = datetime(year, month, 1)
    if month == 12:
        last_day = datetime(year + 1, 1, 1) - timedelta(days=1)
    else:
        last_day = datetime(year, month + 1, 1) - timedelta(days=1)
    # Generate a random day within the month
    random_day = random.randint(1, (last_day - first_day).days + 1)
    return first_day + timedelta(days=random_day - 1)

while start_date <= end_date:
    # Get the year and month from the start_date
    year, month = start_date.year, start_date.month
    
    for _ in range(10):  # 10 orders per month
        order_id = str(uuid.uuid4())
        customer = random.choice(customers)
        shop = random.choice(shops)
        order_date = get_random_date_within_month(year, month).strftime('%Y-%m-%d')
        
        cursor.execute('''
        INSERT INTO order_header (order_id, customer_id, manufacturer, manufactur_place, shopnumber, date)
        VALUES (?, ?, ?, ?, ?, ?)
        ''', (order_id, customer['customer_id'], "Fielmann Group AG", "Hamburg", shop['shopnumber'], order_date))
        
        # Generate 20 items per order
        for _ in range(20):
            product = random.choice(product_catalogue)
            quantity = random.randint(1, 20)
            total_price = round(product['price'] * quantity, 2)
            
            cursor.execute('''
            INSERT INTO order_item (id, order_id, articlenumber, articlename, quantity, price, currency, order_date)
            VALUES (?, ?, ?, ?, ?, ROUND(?, 2), ?, ?)
            ''', (str(uuid.uuid4()), order_id, product['articlenumber'], product['articlename'], quantity, total_price, product['currency'], order_date))
    
    # Move to the next month
    if month == 12:
        start_date = datetime(year + 1, 1, 1)
    else:
        start_date = datetime(year, month + 1, 1)

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Data has been successfully inserted into the database.")

Data has been successfully inserted into the database.